# compiled objects
*.o

# compiled graphics
*.1bpp
*.2bpp
*.pic

# compiled roms
*.gbc
*.gb
*.patch

# rgbds extras
*.map
*.sym

# tool binaries
*.exe

# precompiled python
*.pyc
*$py.class
.venv-runtime*

# save game files
*.sgm
*.sav
*.rtc
*.ram
.runtime-state/
.runtime-traces/
*.sn*
*.sa*
*.sg1
